@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: transparent;
	--secondary: rgb(142, 142, 147);
}

/* Scrollbar styles */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.3rem;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 20px;
	border: 3px solid var(--primary);
}

section {
	margin: 0 auto;
	max-width: 50vw;
	height: 60vh;
	overflow-y: scroll;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	transition: opacity 0.3s ease-in;
}

/* Slide in from the left */
.slide-enter {
	transform: translateX(-100%);
}

/* Slide out to the right */
.slide-exit {
	transform: translateX(100%);
}

.slide-enter-active,
.slide-exit-active {
	transition: transform 1s ease-in-out;
}
